body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  a {
    color: #f8920c;
  }

  a:hover {
    color: #7e654d;
  }

  .form-control:focus{
    border-color: #c4b7aa !important;
    box-shadow: 0 0 0 0.2rem rgba(252, 126, 1, 0.25) !important;
  }

  .logofont {
    font-family: 'Alfa Slab One', cursive;
    font-size: 1.5em;
  }

  .rounded-corner {
    border-radius: 16% !important;
    border: 2px solid #7e654d;
  }

  .btn-outline-info{
    color: #804b06;
    border-color: #af6825;
  }

  .btn-info{
    border-color: #af6825;
    background-color: #7e654d;
  }
  
  .btn-info:hover {
    border-color: #af6825;
    background-color: #d47c08;
  }

  .btn-outline-info:hover{
    background-color: #7e654d;
    border-color: #e27d1f;
  }

  .btn-outline-info:focus, .btn-outline-info:not(:disabled):not(.disabled):active{
    background-color: #d47c08;
    border-color: #e27d1f;
  }

  ul {
    margin: 0;
  }
  
  input:-internal-autofill-selected{
    background-color: #c4b7aa !important;
  }
  
  .bg-beer {
    background-color: #5c380f;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #faba09;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 6px double #c4b7aa;
    border-radius: 16px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #f8920c;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 128px;
    width: 128px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #c4b7aa
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }